* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.contenedor {
    margin: 10px auto;
    max-width: 280px;
    height: 600px;
    border: 1px solid;
    box-shadow: 5px 10px 18px #0c0b0b;
    background: linear-gradient(to bottom, rgb(11, 183, 226) 20%, white);
}

#diego {
    width: 250px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 50% 50%;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 1.2em;
}

.iconos {

    width: 20px;
    display: flex;
    margin: 10px;
    padding: 2px;
    flex-direction: column;
}

.datos {
    margin-top: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;

}

.orden {
    display: flex;
    flex-direction: row;
}

.datos2 {
    margin: 6px;
    height: 18px;
    display: flex;
    align-content: left;
}

footer {
    margin-top: 10px;
    text-align: center;
}

footer img {
    width: 25px;
    margin: 8px;
}